<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    
    <title>starter template</title>

    <!-- Bootstrap from sass -->
    {{- $myBootstrap := resources.Get "sass/bootstrap/bootstrap.scss" -}}
    {{- $options := (dict "targetPath" "css/myBootstrap.css") -}}
    {{- $myBootstrapCss := $myBootstrap | resources.ToCSS $options | minify | fingerprint -}}
    <link rel="stylesheet" href="{{ $myBootstrapCss.RelPermalink }}">

</head>

<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col">
                test 1
            </div>
            <div class="col">
                test 2
            </div>
            <div class="col">
                test 3
            </div>
            <div class="col">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown button
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>Col 1 Ligne 2</p>
            </div>
            <div class="col">
                <p>Col 2 Ligne 2</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card bg-dark text-white">
                    <img class="card-img" src="images/image.jpg" alt="Card image">
                    <div class="card-img-overlay">
                        <h5 class="card-title">This is a h5 tag (class: card title)</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer. (class: card-text)</p>
                        <p class="card-text">Last updated 3 mins ago</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card bg-dark text-white">
                    <img class="card-img" src="images/image.jpg" alt="Card image">
                    <div class="card-img-overlay">
                        <h5 class="card-title">This is a h5 tag (class: card title)</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer. (class: card-text)</p>
                        <p class="card-text">Last updated 3 mins ago</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card bg-dark text-white">
                    <img class="card-img" src="images/image.jpg" alt="Card image">
                    <div class="card-img-overlay">
                        <h5 class="card-title">This is a h5 tag (class: card title)</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer. (class: card-text)</p>
                        <p class="card-text">Last updated 3 mins ago</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="scripts/jquery.js"></script>
    <script src="scripts/popper.js"></script>
    <script src="scripts/bootstrap.js"></script>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    {{ $jquery := resources.Get "js/jquery.js" }}
    {{ $popper := resources.Get "js/popper.js" }}
    {{ $bootstrap := resources.Get "js/bootstrap.js" }}
    {{ $global_js := slice $jquery $popper $bootstrap | resources.Concat "js/global.js" | minify | fingerprint }}
    <script type="text/javascript" src="{{ $global_js.Permalink }}" integrity="{{ $global_js.Data.Integrity }}">
    </script>

</body>

</html>